
<app-header></app-header>
<div class="container">
   <form [formGroup]="nuevoProductoForm" (ngSubmit)="onSave(nuevoProductoForm.value.IDProducto,nuevoProductoForm.value.Nombre,nuevoProductoForm.value.Tipo,nuevoProductoForm.value.Marca,nuevoProductoForm.value.Estado)">
    <div class="form-group">
        <label for="exampleFormControlInput1">Identificador del producto</label>
        <input type="text" class="form-control" placeholder="Identificador del producto" formControlName="IDProducto">

</div>
        <div class="form-group">
                <label for="exampleFormControlInput1">Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre del producto" formControlName="Nombre">

        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Tipo de producto</label>
            <input type="text" class="form-control" placeholder="Tipo de producto" formControlName="Tipo">

    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Marca</label>
        <input type="text" class="form-control" placeholder="Marca del producto" formControlName="Marca">

</div>
<div class="form-group">
    <label for="exampleFormControlInput1">Estado del producto</label>
    <input type="text" class="form-control" placeholder="estado" formControlName="Estado">

</div>
<br><br>
 <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    
       

   </form>
</div>
<app-footer></app-footer>
